# ????? ?????? ?????? ??? LF ?? ???? ??????? ??????
* text=auto

# ?????? ?? ?? ????? HTML ????? ?? LF
*.html text eol=lf

# ?????? ?? ?? ????? CSS ????? ?? LF
*.css text eol=lf

# ????? ?? ????? JavaScript ????? ?? LF
*.js text eol=lf

# ?????? ?? ?? ????? Markdown ????? ?? LF
*.md text eol=lf

# ???? ????? ?????? ?????? ?? ??????? ????????
*.jpg binary
*.png binary
*.gif binary
*.pdf binary
